<img src="logo.png" />
<div class="container">
    <div> 
        <p>Cher Monsieur Howel,</p>
        <p>Vous avez confirmé votre souhait de vous occuper de manière autonome de votre hébergement.</p> 
        <p>Cette décision concernera l'ensemble des passagers de votre réservation :</p>
        <ul>
            <li>Vincent Howel</li>
            <li>Emma Howel</li>
            <li>Manon Howel</li>
            <li>Gabriel Howel</li>
        </ul>
        <p>Afin de pouvoir vous contacter suffisamment à l'avance pour le départ du vol, veuillez entrer votre adresse dans le champs ci-dessous</p>
    </div>

    <form class="form-horizontal">
        <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default" ng-click="validate()">Valider</button>
            </div>
          </div>
    </form>
</div>

