<img src="logo.png" />

<div class="container">
    <div> 
        <p>Cher Monsieur Howel,</p>
        <p>Vous avez confirmé votre choix d'annuler votre vol AF977 pour l'ensemble des passagers de votre réservation :</p>
        <ul>
            <li>Vincent Howel</li>
            <li>Emma Howel</li>
            <li>Manon Howel</li>
            <li>Gabriel Howel</li>
            <li>Théo Howel</li>
        </ul>
        <p>Le service client d'Air France va prendre contact avec vous prochainement afin de procéder au traitement commercial de votre annulation.</p>
        <p><strong>Vous avez trois bagages enregistrés. Veuillez vous rapprocher du comptoir d'Air France pour les récupérer.</strong></p>
        <p>Veuillez nous excuser pour les désagréments que vous avez rencontrés.</p>
        <p>L'équipe Air France à Libreville (LBV)</p>
    </div>
</div>
 
