<img src="logo.png" />
<div class="container">
    <div> 
        <p>Cher Monsieur Howel,</p>
        <p>Vous avez définitivement décidé de bénéficier de l'offre d'hébergement proposée par Air France pour l'ensemble des passagers de votre réservation :</p>
        <ul>
            <li>Vincent Howel</li>
            <li>Emma Howel</li>
            <li>Manon Howel</li>
            <li>Gabriel Howel</li>
            <li>Théo Howel</li>
        </ul>
        <!--<p>Souhaitez-vous, dans la limite du possible, que d'autres passagers (avec leur accord) de ce vol soient localisés dans le même hôtel que vous ?</p>
        -->
    </div>

    <form class="form-horizontal">
        <!--<div class="form-group">
            <input type="radio" group="choice" ng-model="choice" value="yes">
            <label for="abort">Oui</label>
        </div>
        <div class="form-group">
            <input type="radio" group="choice" ng-model="choice" value="no">
            <label for="abort">Non</label>
        </div>
        <div class="form-group" ng-if="choice == 'yes'">
            <input type="text" placeholder="PNR" />
            <input type="text" placeholder="Nom" />
        </div>
        -->
        <div class="form-group" style="margin-left: 0;">
            <p>Votre dossier de réservation comporte 4 passagers, quelles solutions d'hébergement préféreriez-vous ?</p>
            <ul>
            <li>1 chambre pour 4 personnes : <select><option>choix 1</option><option>choix 2</option><option>choix 3</option></select></li>
            <li>2 chambres de 2 personnes : <select><option>choix 2</option><option>choix 2</option><option>choix 3</option></select></li>
            <li>1 chambre de 3 personnes et 1 chambre individuelle : <select><option>choix 3</option><option>choix 2</option><option>choix 3</option></select></li>
            </ul>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default" ng-click="validate()">Valider</button>
            </div>
          </div>
    </form>
</div>

